.nav-link{
    color:  #948D8CCC;
    font-family: Inter;
   
}
.signup{
  color: #948D8CCC;

}

.navbar-brand{
    height: 68px;
width: 174px;
left: 55px;
top: 19px;
border-radius: 0px;

}

.img-fluid{
    max-width: 100% !important;
    height: auto !important;
}

body{
    font-family: Inter  ;
}

#header{
    position: absolute;
    bottom: 30rem;
    margin-left: 5rem;
}

