
.navbar-brand #logo{
   /* logo 1 */

position: absolute;
width: 174px;
height: 68px;
left: 55px;
top: 19px;



}

#signup{
 /* Sign up */

position: absolute;
width: 69px;
height: 23px;
left: 1525px;
top: 30px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 23px;
/* identical to box height */
text-align: center;

color: rgba(148, 141, 140, 0.8);


}

#login{
  /* Rectangle 8 */
/* Rectangle 8 */

position: absolute;
width: 125px;
height: 49px;
left: 1650px;
top: 27px;

background: #DF404B;
box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);

}
.nav-link{
  color:#948D8CCC;
  font-family: Inter;
font-size: 19px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0em;
text-align: center;

}
 
.navbar{
  
   height: 10rem;
 
}

.container-fluid{
padding: none !important;

}

#imager{

  position:relative;
  object-fit: cover;


}

#col1{
  display: inline-block;
}

#car{
  font-family: inter;
  color: white;
  position: absolute;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 13rem;
}

#form{
  
  padding-top: 4rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

#row{
  margin-left: 3rem;
  padding: 5rem;
  padding-left: 6rem;
}

li{
  list-style-type: none;
}
.foot{
  padding-bottom: 10rem !important;
}

#foot{
  margin-bottom: 5rem;
}
#footer{
  margin-top: 8rem;
  align-items: center;
  padding-left: 50rem;
  padding-top: 1rem;
}